body {
   background: #27c05a58;
   display: flex;
   flex-direction: column;
   align-items: start;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   line-height: 1.5sem;

}

a {
   color: #07070736;
   font-size: 15px;
   text-emphasis: none;
}

table {

   font-family: 'Courier New', Courier, monospace;
   border-collapse: #28647836;
}


td,
th {

   border: 10px solid #cc278f36;
}

ul {
   /* list-style-type: square; */
   list-style-type: disc;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


img {
   max-width: 100%;
}

header {
   background: rgb(100, 99, 99);
   padding: 20px;
}

header img {
   width: 3oopx;
   margin: 0 auto;
   display: block;
}

#main-menu {
   text-align: center;
   list-style: none;
   text-align: center;

}

#main-menu li {
   display: inline-block;
   margin: o 10px;

}

#main-menu a {
   background: goldenrod;
   color: aqua;
}

section {
   background: wheat;
   display: flex;
}

div {
   padding: 20px;
   width: 60%;
}

aside {
   padding: 20px;
   width: 40%;
}

aside ul {
   margin-left: 20px;
   margin-top: 10px;
   font-size: small;
}

footer {
   background: rgb(116, 152, 158);
}

.started_again {
   background: #27aec058;
   text-align: center;
   padding: 10px;
   display: grid;
   place-items: center;
   margin: 2px;
}

.images {
   display: flex;
   flex-direction: row;
   justify-content: left;
   gap: 10px;
}